# config
ENVIRONMENT=development
DATABASE_URL=postgresql://postgres:randompasswordkub@localhost:6705/postgres?schema=information_schema

# only used for local development, used in docker-compose.yml
POSTGRES_PASSWORD=randompasswordkub
REDISCLOUD_URL=redis://localhost:6379